<div>
    <div class="container" *ngIf="usuario">
        <div class="py-5 text-center">
            <h2>Editar usuario</h2>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-2">Billing address</h4>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" id="firstName" value="{{usuario.nombre}}" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" id="lastName" value="{{usuario.apellido}}" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" value="{{usuario.email}}" required>
                <div class="invalid-feedback">
                    Please enter a valid email address for shipping updates.
                </div>
            </div>

            <div class="mb-3">
                <label for="telefono1">telefono</label>
                <input type="tel" class="form-control" id="telefono1" value="{{usuario.telefono1}}" required>
            </div>

            <div class="mb-3">
                <label for="telalternativo">Telefono alternativo <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control" id="telalternativo" value="{{usuario.telalternativo}}">
            </div>

            <div class="row">
                <div class="col-md-5 mb-3">
                    <label for="password">password</label>
                    <input type="password" class="form-control" id="password" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="role">role</label>
                    <select class="custom-select d-block w-100" id="role" required value="{{usuario.role}}">
                      <option value="ADMIN_ROLE">Administrador</option>
                      <option value="USER_ROLE">Dueño de inmueble</option>
                  </select>
                </div>
                <hr class="mb-4">
            </div>

        </div>
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="actualizarUsuario()">Guardar</button>
    </div>

</div>