<div>
    <div class="container" *ngIf="usuario">
        <div class="py-5 text-center">
            <h2>Editar usuario</h2>
        </div>
        <div class="col-md-8 order-md-4">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">Nombre</label>
                    <input type="text" class="form-control" id="firstName" value="{{usuario.nombre}}" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Apellido</label>
                    <input type="text" class="form-control" id="lastName" value="{{usuario.apellido}}" required>
                </div>
            </div>

            <div class="mb-3">
                <label for="telefono1">Telefono</label>
                <input type="tel" class="form-control" id="telefono1" value="{{usuario.telefono1}}" required>
            </div>

            <div class="mb-3">
                <label for="telalternativo">Telefono alternativo <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control" id="telalternativo" value="{{usuario.telalternativo}}">
            </div>

        </div>
        <div class=" mt-5">
            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="actualizarUsuario()">Guardar</button>
        </div>
    </div>

</div>