<div style="position: relative;">

    <div class="card">
        <h3 class="card-header text-center font-weight-bold text-uppercase py-4" style="color: black;">Editar usuarios</h3>
        <div class="card-body">

            <div id="table" class="table-editable">
                <div style="position: relative;">
                    <div class="md-form" style="width: 50%;">
                        <i class="fas fa-search prefix"></i>
                        <input placeholder="Buscar" type="text" id="searchBar" class="form-control unclickable" style="margin-bottom: 10px;">
                    </div>
                </div>
                <div id="scrollable" style="overflow-x: auto;">
                    <table class="table table-bordered table-responsive-md table-striped text-center" style="border-collapse: separate; border-spacing: 0;">
                        <thead>
                            <tr>
                                <th class="text-center"><span>Nombre</span></th>
                                <th class="text-center"><span>Apellido</span></th>
                                <th class="text-center"><span>Email</span></th>
                                <th class="text-center"><span>Teléfono</span></th>
                                <th class="text-center"><span>Teléfono Alternativo</span></th>
                                <th class="text-center"><span>Blanquear Contraseña</span></th>
                                <th class="text-center"><span>Rol</span></th>
                                <th class="text-center"><span>Inmuebles</span></th>
                                <th class="text-center"><span>Guardar</span></th>
                                <th class="text-center"><span>Eliminar</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuariosAMostrar;">
                                <!-- <td class="pt-3-half" contenteditable="true" (input)="cambiarValor('nombre', usuario, $event)"> -->
                                <td class="pt-3-half">
                                    <div class="limit-td">
                                        <input [value]="usuario.nombre" (keyup)="cambiarValor('nombre', usuario, $event)">
                                        <!-- </div> -->
                                    </div>
                                </td>
                                <!-- <td class="pt-3-half" contenteditable="true" (input)="cambiarValor('apellido', usuario, $event)"> -->
                                <td class="pt-3-half">
                                    <div class="limit-td">
                                        <input [value]="usuario.apellido" (keyup)="cambiarValor('apellido', usuario, $event)">
                                        <!-- </div> -->
                                    </div>
                                </td>
                                <!-- <td class="pt-3-half" contenteditable="true" (input)="cambiarValor('email', usuario, $event)"> -->
                                <td class="pt-3-half">
                                    <div class="limit-td">
                                        <input disabled [value]="usuario.email" (keyup)="cambiarValor('email', usuario, $event)" style="width: 250px;">
                                        <!-- </div> -->
                                    </div>
                                </td>
                                <!-- <td class="pt-3-half" contenteditable="true" (input)="cambiarValor('telefono1', usuario, $event)"> -->
                                <td class="pt-3-half">
                                    <div class="limit-td">
                                        <input [value]="usuario.telefono1" (keyup)="cambiarValor('telefono1', usuario, $event)">
                                        <!-- </div> -->
                                    </div>
                                </td>
                                <!-- <td class="pt-3-half" contenteditable="true" (input)="cambiarValor('telalternativo', usuario, $event)"> -->
                                <td class="pt-3-half">
                                    <div class="limit-td">
                                        <input [value]="usuario.telalternativo" (keyup)="cambiarValor('telalternativo', usuario, $event)">
                                        <!-- </div> -->
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <div>
                                            <span class="table-edit">
                                                <button (click)="blanquearPwd(usuario)" type="button" class="btn btn-primary" style="padding: 0px 12px;">Blanquear</button>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <!-- <td class="pt-3-half" contenteditable="true" (input)="cambiarValor('role', usuario, $event)"> -->
                                <td class="pt-3-half">
                                    <div class="limit-td">
                                        <input [value]="usuario.role" (keyup)="cambiarValor('role', usuario, $event)" style="width: 110px;">
                                        <!-- </div> -->
                                    </div>
                                </td>

                                <td class="pt-3-half">
                                    <div style="width: 300px;" *ngIf="dropdownList.length != 0 && usuario.role === 'USER_ROLE'">
                                        <!-- <div style="width: 300px;" *ngIf="  dropdownList[usuario._id]  && dropdownList[usuario._id].length === usuario.inmueble.length && usuario.role === 'USER_ROLE'"> -->
                                        <div>
                                            <ng-multiselect-dropdown [placeholder]="'Seleccionar'" [(data)]="dropdownList" [(ngModel)]="selectedItems[usuario._id]" [settings]="dropdownSettings" (onSelect)="onItemSelect(usuario)" (onSelectAll)="onSelectAll(usuario)">
                                            </ng-multiselect-dropdown>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <div>
                                            <span class="table-edit">
                                                <button [id]="'saveButton' + usuario._id" (click)="guardar(usuario)" type="button" class="btn btn-primary" style="padding: 0px 12px;" disabled>Guardar</button>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="limit-td">
                                        <div>
                                            <span class="table-edit">
                                                <a *ngIf="usuario.estado" (click)="borrar(usuario)" style="cursor: pointer; color: red; margin-left: 10px;" class="icon" title="User Profile">
                                                    <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                                  </svg>
                                                </a>
                                              </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>