<div class="login animated fadeIn">
    <div id="formulario">
        <div class="form-group">
            <label for="usr" class="p-3">Email</label>
            <input id="email" type="email" class="list-group-item rounded-pill" placeholder="name@example.com">
            <label for="pass" class="p-3">Contraseña</label>
            <input id="password" type="password" class="list-group-item rounded-pill shadow-lg p-3 mb-5 bg-white " placeholder="contraseña">
        </div>
        <button type="button" class="btn btn-info" (click)="login()">Acceder</button>
    </div>
</div>