<div class="row space-top-8 space-8">
    <div style="font-weight: 700;font-size: 145px;float: none;display: table-cell;position: relative;min-height: 1px;padding-left: 12px;padding-right: 12px;">
        <h1 style="font-weight: 700;font-size: 145px;" class="text-jumbo text-ginormous hide-sm">¡Uy!</h1>
        <h2>Estamos teniendo problemas con nuestros servicios</h2>

    </div>
    <div style="float: none;display: table-cell;position: relative;min-height: 1px;padding-left: 12px;padding-right: 12px;text-align: center;">
        <img src="https://a0.muscache.com/airbnb/static/error_pages/404-Airbnb_final-d652ff855b1335dd3eedc3baa8dc8b69.gif" width="313" height="428" class="hide-sm" style="vertical-align: middle;width: 313px;height: 428px;border: 0px;" alt="¡A la nena se le cayó el helado!">
    </div>
</div>