<div>
    <div class="container">
        <div class="py-5 text-center">
            <h2>Cargar archivos</h2>
        </div>
        <div class="order-md-1">
            <div class="mb-3">
                <label for="tipoArchivo">Tipo de Archivo:</label>
                <select class="custom-select d-block w-100" id="tipoArchivo" required>
                  <option value="Agua">Agua</option>
                  <option value="Alquileres">Alquileres</option>
                  <option value="Comprobantes">Comprobantes</option>
                  <option value="Contratos">Contratos</option>
                  <option value="Deudas">Deudas</option>
                  <option value="Escrituras">Escrituras</option>
                  <option value="Expensas">Expensas</option>
                  <option value="Gas">Gas</option>
                  <option value="Inmobiliario Municipal">Inmobiliario Municipal</option>
                  <option value="Libre de Deuda">Libre de Deuda</option>
                  <option value="Luz">Luz</option>
                  <option value="Planos">Planos</option>
                  <option value="Rentas Provincial">Rentas Provincial</option>
              </select>
            </div>
            <div class="mb-3">
                <div class="col-sm-8">
                    <input #imageInput type="file" class="form-control" id="archivo[]" name="archivo[]" multiple="" (change)="obtenerArchivo(imageInput)">
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="uploadArchivo()">Guardar</button>

    </div>
</div>