<div>
    <div class="container">
        <div class="py-5 text-center">
            <h2>Editar inmueble</h2>
        </div>
        <div class="col-md-8 order-md-1" *ngIf="inmueble">
            <div class="mb-3">
                <label for="identificador">Nombre o identificador del inmueble:</label>
                <input type="text" class="form-control" id="identificador" value="{{inmueble.identificador}}" required>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="precio">Precio:</label>
                    <input type="number" class="form-control" id="precio" value="{{inmueble.precio}}" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="moneda">Moneda:</label>
                    <select class="custom-select d-block w-100" id="moneda" value="{{inmueble.moneda}}" required>
                    <option value="A$R" id="A$R">A$R</option>
                    <option value="U$D" id="U$D">U$D</option>
                  </select>
                </div>
            </div>
            <div class="mb-3">
                <label for="barrio">Barrio:</label>
                <input type="text" class="form-control" id="barrio" value="{{inmueble.direccion}}" required>
            </div>
            <div class="mb-3">
                <label for="direccion">Direccion:</label>
                <input type="text" class="form-control" id="direccion" value="{{inmueble.barrio}}" required>
            </div>

            <div class="mb-3 ">
                <label for="descripcion">Descripcion:</label>
                <!-- <input type="text" class="form-control" id="descripcion" placeholder="Departamento espacioso de 2 habitaciones, 1 baño, cocina comedor...." value="{{inmueble.precio
inmueble.moneda
inmueble.direccion
inmueble.barrio
inmueble.descripcion
inmueble.cantHab
inmueble.tipoInmueble
inmueble.tipoVenta}}" required> -->
                <textarea class="form-control" id="descripcion" aria-label="With textarea" value="{{inmueble.descripcion}}" required></textarea>
            </div>

            <div class="mb-3">
                <label for="cantHab">Cantidad de habitaciones: </label>
                <input type="number" class="form-control" id="cantHab" value="{{inmueble.cantHab}}">
            </div>
            <div class="mb-3">
                <label for="tipoInmueble">Tipo Inmueble:</label>
                <select class="custom-select d-block w-100" id="tipoInmueble" value="{{inmueble.tipoInmueble}}" required>
              <option value="casa">Casa</option>
              <option value="dpto">Departamento</option>
              <option value="terreno">Terreno</option>
              <option value="cabaña">Cabaña</option>
            </select>
            </div>
            <div class="mb-3">
                <label for="tipoVenta">Tipo venta:</label>
                <select class="custom-select d-block w-100" id="tipoVenta" value="{{inmueble.tipoVenta}}" required>
                  <option value="alquiler" id ="alquiler">Alquiler</option>
                  <option value="venta" id ="venta">Venta</option>
                  <option value="alquiler-venta" id ="alquiler-venta">Alquiler/Venta</option>
            </select>
            </div>

            <!-- <div class="form-group">
              <label for="archivo">Example file input:</label>
              <input #imageInput type="file" accept="image/*" (change)="obtenerImagen(imageInput)">
          </div> -->

            <div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Imágenes</label>
                    <div class="col-sm-8">
                        <input #imageInput type="file" class="form-control" id="archivo[]" name="archivo[]" multiple="" (change)="obtenerImagen(imageInput)">
                    </div>

                </div>
            </div>
            <ul id="myUL" *ngIf="inmueble">
                <li *ngFor="let tipoArch of archivosKeys"><span class="caret">{{ tipoArch }}</span>
                    <ul class="nested">
                        <li borrar="true" *ngFor="let arch of inmueble.archivos[tipoArch]">
                            <a target="_blank" href="{{host}}/{{ arch }}">{{ arch }}</a>
                            <a (click)="borrar(tipoArch, arch, $event)" style="cursor: pointer; color: red; margin-left: 10px;" class="icon" title="User Profile">
                                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                              </svg>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="m-3 card-columns">
                <div borrar="true" id="imagecontainer" class="card mb-3 fondito" style="max-width: 350px;" *ngFor="let img of inmueble.img">
                    <img src="{{host}}/{{ img }}" class="card-img" alt="">
                    <div class="overlay">
                        <a (click)="borrar('img', img, $event)" style="cursor: pointer;" class="icon" title="User Profile">
                            <svg width="40px" height="40px" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                          </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="actualizarInmueble()">Guardar cambios</button>
    </div>
</div>