<h1 class="animated fadeIn">

    {{inmueble.identificador | uppercase}} <small> {{inmueble.tipoVenta  }}</small></h1>
<hr>
<div class="row animated fadeIn fast" style="height: 70vh;">
    <div style="    width: 40%;
    position: relative;
    height: 100%;">
        <div>
            <!-- <img src="http://localhost:3000/{{inmueble.img}}" class="img-fluid" [alt]="inmueble.descripcion"> -->
            <div class="padre_carrusel" *ngIf="imagenesInmueble.length != 0">
                <app-carrusel-imagenes [imagenesInmueble]="imagenesInmueble"></app-carrusel-imagenes>
            </div>
            <br><br>
            <a (click)="cargarArchivos()" class="btn btn-outline-info btn-block">Cargar Archivos</a>
            <a [routerLink]="['/home']" class="btn btn-outline-danger btn-block">Regresar</a>
        </div>
    </div>
    <div style="position: relative;
    width: 59%;">
        <div>
            <h3>{{inmueble.tipoInmueble}}</h3>
            <hr>
            <p>
                <li>
                    <ul>
                        Barrio: {{inmueble.barrio}}
                    </ul>
                    <ul>
                        Precio: {{inmueble.precio}} {{inmueble.moneda}}
                    </ul>
                    <ul>
                        {{inmueble.descripcion}}
                    </ul>
                </li>

            </p>
        </div>
        <div style="    position: relative;
        min-height: 300px;
        max-height: 100%;
        width: 500px;
        /* right: 80px; */
        /* bottom: 150px; */
        overflow-y: visible;
        left: 50%;
        transform: translateX(-50%);">
            <div class="card" style="height: 100%; width: 100%; position: absolute;" *ngIf="inmueble.usuario">
                <div class="card-body">
                    <h5 class="card-title">Contactate con nosotros!</h5>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <label aria-label="Mensaje" for="mensaje">Mensaje</label>
                    <textarea name="bodyMail" id="bodyMail" placeholder="" style="width: 90%;
                    height: 100px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    position: relative;
                    left: 50%;
                    /* overflow: visible; */
                    transform: translateX(-50%);">Hola, me interesa esta propiedad que vi en su página web y quiero que me contacten. Gracias.</textarea>
                    <p class="card-text">O llamanos al {{inmueble.usuario.telefono1}}</p>

                    <!-- <button class="post">Send</button>
                    <input id="name" placeholder="Your Name Goes Here...">
            <textarea class="_twemoji_input" rows="7"></textarea>
            <p class="_disclaimer"><img class="emoji" src="https://twemoji.maxcdn.com/36x36/1f64c.png"> Show your message to the world <img class="emoji" src="https://twemoji.maxcdn.com/36x36/1f30d.png"></p> -->

                </div>

                <a (click)="mail()" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>