<div class="card mb-3 fondito" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="http://localhost:3000/{{inmueble.img}}" class="card-img" alt="">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{inmueble.identificador}}</h5>
                <p class="card-text">{{inmueble.tipoVenta}} - {{inmueble.cantHab}} habitaciones</p>
                <p class="card-text"><small class="text-muted">{{inmueble.barrio}}</small></p>
            </div>
        </div>
    </div>
</div>

<!-- <div class="card animated fadeIn fast">
    <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
    <div class="card-body">
        <h5 class="card-title">{{inmueble.identificador}}</h5>
        <p class="card-text">{{inmueble.tipoVenta}} - {{inmueble.cantHab}} habitaciones</p>
        <p class="card-text"><small class="text-muted">{{inmueble.barrio}}</small></p>
        <button (click)="" type="button" class="btn btn-outline-primary btn-block">
        Ver más
        </button>

        <a [routerLink]="['/heroe', i]" class="btn btn-outline-primary">Ver más link..</a>
    </div>
</div> -->